<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 " style="text-align:center;">
      <h3>CRUD Operation in Angular with TypeScript</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <span (click)="addNewPost()" class="btn btn-primary btn-xs">Add New Curso</span>
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th (click)="setOrder('titulo')">Titulo <span style="float: right;" class="glyphicon glyphicon-sort"></span></th>
            <th>Profesor</th>
            <th>Nivel</th>
            <th>Horas</th>
            <th>Temario</th>            
          </thead>
          <tbody>
            <tr *ngFor="let item of cursoList | orderBy: order:reverse:'case-insensitive' | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{item.titulo}}</td>
              <td>{{item.profesor}}</td>
              <td>{{item.nivel}}</td>              
              <td>{{item.numerohoras}}</td> 
              <td><span class="btn btn-primary btn-xs" (click)="dowloadcatalogo()">
                  <span class="glyphicon glyphicon-download"></span></span></td>
             
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>
  </div>
</div>
