<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 " style="text-align:center;">
      <h3>Catálogo de cursos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th (click)="setOrder('titulo')">Titulo <span style="float: right;" class="glyphicon glyphicon-sort"></span></th>
            <th>Profesor</th>
            <th>Nivel</th>
            <th>Horas</th>
            <th>Temario</th>            
          </thead>
          <tbody>
            <tr *ngFor="let item of cursoList | orderBy: order:reverse:'case-insensitive' | paginate: { itemsPerPage: 5, currentPage: p }">
              <td>{{item.titulo}}</td>
              <td>{{item.fullname}}</td>
              <td>{{item.nivel}}</td>              
              <td>{{item.numerohoras}}</td> 
              <td><span class="btn btn-primary btn-xs" (click)="showPDF(item.catalogo)">
                  <span class="glyphicon glyphicon-download"></span></span></td>
             
            </tr>
          </tbody>
        </table>
        	<div class="row">
    			<div class="col-md-4 col-lg-4 col-xs-6">
        			<pagination-controls (pageChange)="p = $event"></pagination-controls>
        		</div>
        		<div class="col-md-4 col-lg-4 col-xs-6">
       				<span (click)="addNewPost()" class="btn btn-primary btn-xs">Nuevo curso</span>
       			</div>
       		</div>
      </div>
    </div>
  </div>
</div>
