<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 " style="text-align:center;">
      <h3>Catálogo de cursos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <div class="row">
          
          <div class="col-md-1 col-lg-1 col-xs-6">
              <span (click)="addNewPost()" class="btn btn-primary btn-xs">Nuevo curso</span>
          </div>
          <div class="col-md-1 col-lg-1 col-xs-6">
              <span (click)="addNewTeacher()" class="btn btn-primary btn-xs">Nuevo teacher</span>
          </div>
          </div>
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped table-lg"cellspacing="0"
  width="100%">
          <thead>
            <th (click)="setOrder('titulo')">Titulo <span style="float: right;" class="glyphicon glyphicon-sort"></span></th>
            <th>Profesor</th>
            <th>Nivel</th>
            <th>Horas</th>
            <th>-----</th>            
          </thead>
          <tbody>
            <tr *ngFor="let item of courseInfinite ">
              <td>{{item.title}}</td>
              <td>{{item.name}}</td>
              <td>{{item.level}}</td>              
              <td>{{item.hours}}</td> 
              <td><span class="btn btn-danger btn-xs" (click)="deleteCourse(item.id)">
                  <span class="glyphicon glyphicon-trash"></span></span></td>
              <td><span class="btn btn-warning btn-xs" (click)="editCourse(item)">
                  <span class="glyphicon glyphicon-pencil"></span></span></td>
             
            </tr>
          </tbody>
        </table>
        	
      </div>
    </div>
  </div>
</div>
